*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
.navbar{
  width: 100%; ;
  height: 20px;
  padding-top: 15px;
  padding-bottom: 35px;
  color: gray;
  background-color: #1b1b1a;
}
body {
  background-color: #1b1b1a;
}
.container{
    display: flex;
  justify-content: space-around;
  align-items: center;
}
.navbar-logo{
  display: flex;
  gap: 10px;
  align-items: center;
}
.logo{
  width: 20px;
  height: 20px;
}
.navbar-menu{
  display: flex; gap: 105px; color: aliceblue;
}
.navright{
  display: flex;
  gap: 10px;
}
.nav-link{
  color: gray;

}
.fly{
  color: aliceblue;
  width: 80px;
  height: 80px;
}
.containerr{
  display: flex;
  align-items: center;
  margin: 0 auto;
  justify-content: center;
}
.navbut{
  display: flex;
  width: 165px;
  height: 48px;
  border: 3px solid rgb(239, 181, 10);
  align-items: center;
  justify-content: space-around;
  color: gold;
  background-color: #1b1b1a;
  margin-left: 30px;
}
.nav-link:hover{
  color: white;
  font-size: 17px;
}
.input{
  width: 875px;
  height: 48px;
  border: 3px solid gray;
  background-color: #1b1b1a;
  border-left: none;
  padding-left: 10px;
}
.navconright{
  display: flex;
  align-items: center;
  margin-left: 50px;
}
.Header{
  width: 100%;
  height: 500px;
  background-size: cover;
  background-image: url(../public/img/duhi.png);
}
.hashteg{
  color:rgba(255, 235, 204, 1);
  align-items: center;
}
.hash3{
  text-align: center;
  margin-left: -700px;
}
.hash1{
  text-align: center;
  margin-left: -700px;
  padding-top: 126px;
margin-bottom: 30px;
}
.nuq{
  margin-left: 677px;
  margin-top: 176px;
}
.Atir{
  width: 1280px;
  height: 450px;
  margin: 0 auto;
  margin-top: 50px;
}
.smallduhi{
  width: 522px;
  height: 400px;
  text-align: center;
  background-image: url(../public/img/smalduhi.png);
  color:rgba(255, 235, 204, 1);

}
.sh3{
  color: gray;
  margin-bottom: 25px;
}
.smallatir{
  width: 360px;
  height: 400px;
  background-image: url(../public/img/sariw.png);
  text-align: center;
  color:rgba(255, 235, 204, 1);

}
.bigduhi{
  display: flex;
  justify-content: space-between;
}
.ik{
  background-image: url(../public/img/kokow.png);
}
.atbut{
  width: 245px;
  height: 45px;
  background-color: #1b1b1a;
  color: rgba(255, 235, 204, 1);
  border: none;
}
.vic{
  margin-top: 270px;
}
.bonus{
  width: 100%;
  height:280px ;
  background-image: url(../public/img/osmon.png);
}
.rgba{
  color: rgba(255, 235, 204, 1);
}
.bobut{
  width: 245px;
  height: 45px;
  background-color: #1b1b1a;
  color: rgba(255, 235, 204, 1);
  border: none;
}
.rgba{
  font-size: 30px;
}
.rg{
  font-size: 16px;
  margin-top: 35px;
  margin-bottom: 35px;
}
.Bonuscon{
  margin-left: 188px;
}
.st{
  font-weight: 800;
}
.reting{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 305px;
  height: 52px;
  background-color: rgba(54, 51, 46, 1);
  color: rgba(255, 235, 204, 1);
  border: none;
}
.buttons{
  display: flex;
  gap: 15px;
}
.kata{
  color: rgba(255, 235, 204, 1);
  font-size: 24px;
  margin-top: 50px;
  margin-bottom: 30px;
}
.reting:hover{
  color: #1b1b1a;
  background-color: rgba(255, 235, 204, 1);
}
.pas{
  color: white;
}
.ml{
  margin-left: 80px;
}
.korzina{
  width: 305px;
  height: 517px;
  text-align: center;
  padding: 30px 10px 10px 10px;
  color: rgba(255, 235, 204, 1);
  background-color: rgba(54, 51, 46, 1);
}
.butbut{
  display: flex; gap: 20px; justify-content: center;
}
.on:hover{
color: #1b1b1a;
background-color: rgba(255, 235, 204, 1);
}
.on{
  width: 34px;
  height: 34px;
  text-align: center;
  background-color: rgb(40, 39, 38);
  color: white;
  border: none;
  margin-top: 20px;
}
.pul{
  display: flex; justify-content: space-around;
  margin-top: 20px;
  margin-bottom: 20px;
}
.the{
  margin-top: 20px;
  margin-bottom: 20px;
}
.korzinka{
  display: flex;
  margin-left: 80px;
gap: 50px;
margin-top: 50px;
}
.korzina:hover{
background-color: #1b1b1a;
border: 2px solid gray;
}
.atbut:hover{
  border: 1px solid gray;
background-color: rgba(255, 235, 204, 1);
color: black;
}
.pap{
  margin-top: 50px;
  margin-bottom: 50px;
margin-left: 480px;
}
.footertop{
  display: flex;
  justify-content: center;
}
.local{
  display: flex;
  gap: 10px;
  color: rgba(255, 235, 204, 1);
  align-items: center;
  margin-top: 15px;
}
.watsap{
  display: flex;
  gap: 10px;
  color: rgba(255, 235, 204, 1);
  align-items: center;
  margin-top: 15px;
}
.uy{
    display: flex;
  gap: 10px;
  color: rgba(255, 235, 204, 1);
  align-items: center;
  margin-top: 15px;
}
.footerbal{
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}
.footerbot{
  display: flex;
  justify-content: center;
  color: rgba(255, 235, 204, 1);
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
}